/* Custom CSS for consistent card size */
.product-card {
  width: 100%;
  max-width: 300px; /* Adjust the width as needed */
  height: 450px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card-img-top {
  object-fit: cover;
  height: 200px; /* Adjust the height as needed */
}

.card-body {
  flex: 1;
  overflow: hidden; /* Ensures that content does not overflow */
}

/* ProductItem.css */

.custom-btn {
  font-size: 0.875rem; /* Smaller font size */
  padding: 0.375rem 0.75rem; /* Adjust padding */
  border-radius: 0.25rem; /* Rounded corners */
}

.custom-btn:hover {
  opacity: 0.85; /* Slightly darken on hover */
  transition: opacity 0.2s ease; /* Smooth transition */
}

.btn-primary.custom-btn {
  background-color: #007bff; /* Primary color */
  border-color: #007bff; /* Match border color */
}

.btn-secondary.custom-btn {
  background-color: #6c757d; /* Secondary color */
  border-color: #6c757d; /* Match border color */
}
.cart-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
